<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebRTC Echo Cancellation</title>
    <link rel="stylesheet" href="/static/css/theme.css">
</head>
<body>
    <div class="container">
        <h1>WebRTC Echo Cancellation</h1>
        <div class="waveforms">
            <div>
                <h3>Server Input</h3>
                <canvas id="micCanvas" width="400" height="200"></canvas>
            </div>
            <div>
                <h3>After Echo Cancellation</h3>
                <canvas id="processedCanvas" width="400" height="200"></canvas>
            </div>
        </div>
        
        <div class="controls">
            <input type="file" id="audioFileInput" accept="audio/*">
            <button id="playButton">Play Local Audio File</button>
            <button id="playServerButton">Play Server Audio File</button>
            <button id="startRecordingButton">Start Recording</button>
            <button id="stopRecordingButton" disabled>Stop Recording</button>
        </div>
        <div class="volume-controls">
            <div>
                <label for="inputVolumeControl">Input Volume:</label>
                <input type="range" id="inputVolumeControl" min="0" max="1" step="0.1" value="1">
                <span id="inputVolumeValue">1.0</span>
            </div>
            <div>
                <label for="outputVolumeControl">Output Volume:</label>
                <input type="range" id="outputVolumeControl" min="0" max="2" step="0.1" value="1">
                <span id="outputVolumeValue">1.0</span>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="/static/js/main4.js"></script>
</body>
</html>
